<header class="search_banner" role="banner">
    <div class="row">

      <div class="large-2 columns">
        <div class="small-logo">
          <a href="/">
            <h1 class="small-banner_title">Surgir</h1>
          </a>
        </div>
      </div>

      <div class="large-10 columns">
        <div class="row">
          <form ng-submit="submitSearch()" ng-controller="SearchController">
            <div class="large-10 columns">
              <div class="row">
                <div class="large-9 columns">
                  <input class="small-search-query" type="search" placeholder="Rechercher" oneoff-autofocus
                          ng-model="searchInput" typeahead="item for item in suggestions($viewValue)"
                          typeahead-min-length="3" typeahead-wait-ms="300" autocomplete="off">
                </div>
                <div class="large-3 columns button_wrapper">
                  <button class="small" type="submit"><i class="icon-search"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
</header>
