.DS_Store
*.gem
*.rbc
.bundle
.config
libpeerconnection.log
coverage
InstalledFiles
lib/bundler/man
build
dist
node_modules
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
logs/*.log
/lib
*.tar.gz

# YARD artifacts
.yardoc
_yardoc
doc/

app/assets/img/pinscher.ai
