<header class="row search_banner" role="banner">
  <div class="small-11 small-centered columns">
  
    <div class="row">
      <div class="large-3 columns">
        <div class="small-logo">
          <a href="/">
            <h1 class="small-banner_title">Surgir</h1>
          </a>
        </div>
      </div>
      
      <div class="large-9 columns">
        <form ng-submit="submitSearch()" ng-controller="SearchController">
          <div class="large-10 large-centered columns">
            <div class="row">
              <div class="large-10 columns">
                <input type="search" ng-model="searchInput" placeholder="Rechercher" autofocus>
              </div>
              <div class="large-2 columns button_wrapper">
                <button type="submit"><i class="icon-search"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</header>
