<header class="row search_banner" role="banner">
  
    <div class="row">
      <div class="large-2 large-offset-1 columns">
        <div class="small-logo">
          <a href="/">
            <h1 class="small-banner_title">Surgir</h1>
          </a>
        </div>
      </div>
      
      <div class="large-9 columns">
        <div class="row">
          <form ng-submit="submitSearch()" ng-controller="SearchController">
        
            <div class="large-9 columns">
              <div class="row">
                <div class="large-9 columns">
                  <input class="small-search-query" type="search" ng-model="searchInput" placeholder="Rechercher" autofocus>
                </div>
                <div class="large-3 columns button_wrapper">
                  <button class="small" type="submit"><i class="icon-search"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>
</header>
