<nav class="facets">
    <header class="page-title_banner row">
      <div class="small-11 small-centered columns">
        <div class="row">
          <div class="small-4 columns">
            <nav class="left back"><a href="#results"><i class="icon-angle-left"></i> Retour</a></nav>
          </div>
          <div class="small-8 columns">
            <a href="" class="button small right" ng-click="applyFilters()">Appliquer</a>
          </div>
        </div>
      </div>
    </header>

    <div class="small-11 small-centered columns">
      <div class="row">
        <div ng-repeat="facet in facets" class="facet">
          <h4>
            {{ facet.frenchName }}
          </h4>
          <select ng-model="selectedFilters[facet.name]"
                  ng-options="filter[0] as (filter | facetLabel) for filter in facet.data"
                  ng-change="setFilter(facet.name)">
            <option value=""></option>
          </select>

          <hr />
        </div>
        <a href="" class="button" ng-click="applyFilters()">Appliquer les filtres</a>
      </div>
</nav>
