<header class="row home_banner" role="banner">
  <div class="small-4 small-offset-3 columns">
    <div class="small-logo">
      <h1 class="small-banner_title">Surgir</h1>
    </div>
  </div>
</header>

<div class="row">
  <form ng-submit="submitSearch()" ng-controller="SearchController">
    <div class="small-12 columns">
      <input type="search" placeholder="Rechercher" ng-model="search.input" ng-controller="HomeSearchController" autofocus>
    </div>
    <!-- <div class="small-3 columns button_wrapper">
      <button type="submit"><i class="icon-search"></i></button>
    </div> -->
  </form>
</div>
