<div ng-include="'views/partials/search_banner.html'"></div>

<section class="notice">
  <aside>
    <nav><a href="#/results">Retour</a></nav>
    Notice détaillée
  </aside>
  <article>
    <h1 class="notice__title">{{ notice.ptitle }}</h1>
    <div class="notice__author">{{ notice.author }}</div>
    <div class="notice__publisher">Édition : {{ notice.publisher }}{{ notice.date | lfYear }}</div>
    <div class="notice__collection">Résultat de : {{ notice.vendor_name }}</div>
    <a href="#/notice/{{ notice.id }}">Permalien</a>
  </article>
</section>
