body {
  background: white;
  font-family: 'Open Sans', helvetica, sans-serif;
  color: #34495e;
}

.container {
  height: auto;
  margin: 0 auto;
  min-height: 100%;
  min-width: 0;
  width: 100%;
}

header {
  float: left;
  height: 249px;
  margin: 0;
  width: 100%;
}

.logo {
  float: left;
  height: 241px;
  margin: 0 0 0 10.919427710843372%;
  width: 25.48195495849302%;
}
.logo img {
  background-size: contain;
  float: right;
  height: 59px;
  margin: 122px 10px 0 58.506802721088434%;
}

header h1 {
  color: rgb(30, 42, 90);
  float: left;
  font-family: 'Merriweather', serif;
  font-size: 6em;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin: -22px 0 0 0.12194088855421686%;
  min-height: 104px;
  padding: 122px 0 0;
  text-align: left;
  width: 57.11663935647252%;
  word-wrap: break-word;
}

header h2 {
  color: rgb(94, 109, 129);
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  height: auto;
  line-height: 1.25em;
  margin: 197px 0 auto -56.96611445783133%;
  min-height: 40px;
  min-width: 0.5em;
  padding: 10px 10px 10px 15px;
  text-align: left;
  text-transform: uppercase;
  width: 57.11663935647252%;
  word-wrap: break-word;
}

.form-search {
  clear: both;
  height: 87px;
  margin: 0 auto;
  padding: 20px 10px;
  width: 84.41340361445782%;
}
input.search-query {
  border: none;
  background: rgb(236, 240, 241);
  color: #34495e;
  font-family: "Open sans", helvetica, sans-serif;
  font-size: 1em;
  text-indent: 6px;
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition: border .25s linear, color .25s linear;
  -o-transition: border .25s linear, color .25s linear;
  transition: border .25s linear, color .25s linear;
  -webkit-backface-visibility: hidden;
  float: left;
  height: 47px;
  margin: 0 0 0 9.696214219759927%;
  width: 63.066481994459835%;
}
button.btn {
  cursor: pointer; 
  -webkit-appearance: none; 
  *overflow: visible;
  background: rgb(46, 204, 113);
  color: #34495e;
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: left;
  height: 47px;
  margin: 0 0 0 0.9242843951985226%;
  min-width: 102px;
  text-indent: -999999px;
  border: none;
  line-height: 22px;
  padding: 15px 20px 16px;
}

.search-icon img {
  height: 16px;
  float: left;
  padding-left: 25px;
}