body {
  background: white;
  font-family: 'Open Sans', helvetica, sans-serif;
  color: #34495e;
}

.container {
  height: auto;
  margin: 0 auto;
  min-height: 100%;
  min-width: 0;
  width: 100%;
}

header {
  float: left;
  height: 249px;
  margin: 0;
  width: 100%;
}

.logo {
  float: left;
  height: 241px;
  margin: 0 0 0 10.919427710843372%;
  width: 25.48195495849302%;
}
.logo img {
  background-size: contain;
  float: right;
  height: 59px;
  margin: 122px 10px 0 58.506802721088434%;
}

header h1 {
  color: rgb(30, 42, 90);
  float: left;
  font-family: 'Merriweather', serif;
  font-size: 6em;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin: -22px 0 0 0.12194088855421686%;
  min-height: 104px;
  padding: 122px 0 0;
  text-align: left;
  width: 57.11663935647252%;
  word-wrap: break-word;
}

header h2 {
  color: rgb(94, 109, 129);
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  height: auto;
  line-height: 1.25em;
  margin: 197px 0 auto -56.96611445783133%;
  min-height: 40px;
  min-width: 0.5em;
  padding: 10px 10px 10px 15px;
  text-align: left;
  text-transform: uppercase;
  width: 57.11663935647252%;
  word-wrap: break-word;
}