<section class="home_intro">
<div class="large-10 large-centered columns">
  <div class="row">
    <div class="large-6 large-offset-1 columns">
      <h3>Qu'est-ce que Surgir ?</h3>
      <p>Surgir permet d’interroger de manière simultanée une cinquantaine de ressources 
      documentaires numériques à partir d’une interface :</p>
      <ul>
        <li>les catalogues des bibliothèques universitaires</li>
        <li>les bases de données</li>
        <li>de nombreuses ressources gratuites d’Internet</li>
      </ul>
    </div>
    <div class="large-4 columns">
      <h3>Notre actualité</h3>
    </div>
  </div>
</section>

<section class="full-width home_partners">
  <div class="row">
    <div class="large-3 large-centered columns">
      <h3>Nos partenaires</h3>
    </div>
  </div>
  <div class="row home_partners-logos">
    <div class="large-10 large-centered columns">
      <ul class="small-block-grid-4 large-block-grid-8">
        <li><img src="http://placekitten.com/g/64/64"><p>Logo</p></li>
        <li><img src="http://placekitten.com/g/64/64"><p>Logo</p></li>
        <li><img src="http://placekitten.com/g/64/64"><p>Logo</p></li>
        <li><img src="http://placekitten.com/g/64/64"><p>Logo</p></li>
        <li><img src="http://placekitten.com/g/64/64"><p>Logo</p></li>
        <li><img src="http://placekitten.com/g/64/64"><p>Logo</p></li>
        <li><img src="http://placekitten.com/g/64/64"><p>Logo</p></li>
        <li><img src="http://placekitten.com/g/64/64"><p>Logo</p></li>
      </ul>
    </div>
  </div>
</section>
