Status <span ng-bind="status">starting...</span>

<h2>Search</h2>
<form ng-submit="submitSearch()">
  <p>
    <input type="radio" ng-model="group" value="Partout" ng-change="fetchCollections('Partout')">Partout
    <input type="radio" ng-model="group" value="Grenoble" ng-change="fetchCollections('Bibliotheques_de_Grenoble')">Bibliothèques de Grenoble
  </p>
  {{ ids }}
  <p>
    <input type="text" ng-model="searchInput" required>
    <input type="submit" value="Search">
  </p>
  <h3>Parameters</h3>
  <table>
    <tr>
      <td>Max Results:</td>
      <td><input type="text" ng-model="maxResults"></td>
    </tr>
    <tr>
      <td>Number of Polls:</td>
      <td><input type="text" ng-model="nbPolls"></td>
    </tr>
    <tr>
      <td>Polling Interval (ms):</td>
      <td><input type="text" ng-model="pollInterval"></td>
    </tr>
    <tr>
      <td>Page Size:</td>
      <td><input type="text" ng-model="pageSize"></td>
    </tr>
    <tr>
      <td>Retrieve Facettes:</td>
      <td>
        <input type="radio" ng-model="displayFacettes" value="1">Yes
        <input type="radio" ng-model="displayFacettes" value="0">No
      </td>
    </tr>
  </table>
</form>

<h3>Results: {{ response.results.length }} / {{ response.hits }}</h3>
<ul>
  <li ng-repeat="result in response.results">
    <a href="" ng-click="getNotice($index)">GET</a>
    "{{ result.ptitle }}" by {{ result.author }} --- {{ result.vendor_name }} / {{ result.rank }}
    <!-- {{ result.name }}
    <span ng-repeat="hit in result.hits">
      - {{ {0: '', 1: '?'}[hit.status] }}  {{ hit.hits }}/<strong>{{ hit.total_hits }}</strong>
    </span> -->
  </li>
</ul>

<hr>
<h3>Notice</h3>
<h4>{{ notice.ptitle }}</h4> by {{ notice.author }}
<p>Published by {{ notice.publisher }} in {{ notice.date }}</p>
<p>Abstract: {{ notice.abstract }}</p>
<p>Subjects: {{ notice.subject }}</p>
<p>Type: {{ notice.material_type }} - lang: {{ notice.lang }}</p>
<p>Collection: {{ notice.vendor_name}}</p>
<p>ID: <a href="" ng-click="getPermalinkNotice(notice)">{{ notice.id }}</a></p>
<p>Source: {{ notice.source }}</p>
<p>URL: {{ notice.direct_url }}</p>

<hr>
<h4>Facettes</h4>
<div ng-repeat="facette in response.facette">
  {{ facette.name }}:
  <select ng-model="facette_filter" ng-options="val[0] for val in facette.data"></select>
  <!-- {{ facette.name }} = {{ facette.data.length }}: {{ facette.data[0][1]}} x {{ facette.data[0][0] }} -->
</div>

<hr>
<h4>Bases</h4>
<ul>
  <li ng-repeat="base in response.totalhits">
    {{ base.target_name }} : {{ base.hits }} / {{ base.total_hits }}
  </li>
</ul>
