Status <span ng-bind="status">starting...</span>

<h2>Search</h2>
<form ng-submit="submitSearch()">
  <p>
    <input type="radio" ng-model="group" value="Partout" ng-change="fetchCollections('Partout')">Partout
    <input type="radio" ng-model="group" value="Grenoble" ng-change="fetchCollections('Bibliotheques_de_Grenoble')">Bibliothèques de Grenoble
  </p>
  {{ ids }}
  <p>
    <input type="text" ng-model="searchInput" required>
    <input type="submit" value="Search">
  </p>
  <h3>Parameters</h3>
  <table>
    <tr>
      <td>Max Results:</td>
      <td><input type="text" ng-model="maxResults"></td>
    </tr>
    <tr>
      <td>Number of Polls:</td>
      <td><input type="text" ng-model="nbPolls"></td>
    </tr>
    <tr>
      <td>Polling Interval (ms):</td>
      <td><input type="text" ng-model="pollInterval"></td>
    </tr>
    <tr>
      <td>Page Size:</td>
      <td><input type="text" ng-model="pageSize"></td>
    </tr>
    <tr>
      <td>Retrieve Notices:</td>
      <td>
        <input type="radio" ng-model="displayNotices" value="1">Yes
        <input type="radio" ng-model="displayNotices" value="0">No
      </td>
    </tr>
    <tr>
      <td>Retrieve Facettes:</td>
      <td>
        <input type="radio" ng-model="displayFacettes" value="1">Yes
        <input type="radio" ng-model="displayFacettes" value="0">No
      </td>
    </tr>
  </table>
</form>

<h3>Results: {{ response.results.length }} / {{ response.hits }}</h3>
<ul>
  <li ng-repeat="result in response.results | orderBy:'-rank'">
    "{{ result.ptitle }}" by {{ result.author }} --- {{ result.vendor_name }} / {{ result.rank }}
    <!-- {{ result.name }}
    <span ng-repeat="hit in result.hits">
      - {{ {0: '', 1: '?'}[hit.status] }}  {{ hit.hits }}/<strong>{{ hit.total_hits }}</strong>
    </span> -->
  </li>
</ul>

<hr>
<ul>
  <li ng-repeat="facette in response.facette">
    {{ facette.name }} = {{ facette.data.length }}: {{ facette.data[0][1]}} x {{ facette.data[0][0] }}
  </li>
</ul>

<hr>
<ul>
  <li ng-repeat="base in response.totalhits">
    {{ base.target_name }} / {{ base.hits }} / {{ base.total_hits }}
  </li>
</ul>
