Status <span ng-bind="status">starting...</span>

<h2>Search</h2>
<form ng-submit="submitSearch()">
  <p>
    <input type="radio" ng-model="group" value="Partout" ng-change="fetchCollections('Partout')">Partout
    <input type="radio" ng-model="group" value="Grenoble" ng-change="fetchCollections('Bibliotheques_de_Grenoble')">Bibliothèques de Grenoble
  </p>
  {{ ids }}
  <p>
    <input type="text" ng-model="searchInput" required>
    <input type="submit" value="Search">
  </p>
  <h3>Parameters</h3>
  <table>
    <tr>
      <td>Max results:</td>
      <td><input type="text" ng-model="maxResults"></td>
    </tr>
    <tr>
      <td>Number of polls:</td>
      <td><input type="text" ng-model="nbPolls"></td>
    </tr>
    <tr>
      <td>Polling interval (ms):</td>
      <td><input type="text" ng-model="pollInterval"></td>
    </tr>
  </table>
</form>

<ul>
  <li ng-repeat="result in results | orderBy:'-rank'">
    "{{ result.ptitle }}" '{{ result.title }}' by {{ result.author }} --- {{ result.vendor_name }} / {{ result.rank }}
    <!-- {{ result.name }}
    <span ng-repeat="hit in result.hits">
      - {{ {0: '', 1: '?'}[hit.status] }}  {{ hit.hits }}/<strong>{{ hit.total_hits }}</strong>
    </span> -->
  </li>
</ul>
