Status <span ng-bind="status">starting...</span>

<h2>Collections</h2>
<a href="" ng-click="getCollections()">Get Collections</a>
<ul>
  <li ng-repeat="col in collections">
     [{{ col.id }}] <a href="" ng-click="getCollectionNotice(col.id)">{{ col.name }}</a>
    <br />
    {{ collectionNotices[col.id] }}
  </li>
</ul>

<hr />
<h2>Search</h2>
<form ng-submit="submitSearch()">
  <input type="text" ng-model="searchInput">
  <input type="submit" value="Search">
</form>

<h2>Jobs</h2>
<ul ng-repeat="job in jobs">
  <li>{{ job }}<br />
    <a href="" ng-click="checkJob(job)">Check</a>
    <p>{{ jobs_status[job] | json }}</p>
    <a href="" ng-click="getRecord(job)">Get Record</a>
    <p>{{ jobs_record[job] }}</p>
  </li>
</ul>

<p>
  <a href="" ng-click="checkAllJobs()">Check All Jobs</a>
  {{ all_jobs_status }}
</p>
<p>
  <a href="" ng-click="getAllRecords()">Get All Records</a>
  {{ all_jobs_records }}
</p>

<hr />
<h2>Detailed notice by permalink</h2>

<form ng-submit="getNotice()">
  <p>
    <label for="notice_permalink">Permalink</label>
    <input type="text" ng-model="notice.permalink" id="notice_permalink">
  </p>
  <p>
    <label for="notice_col_id">Collection ID</label>
    <input type="text" ng-model="notice.colId" id="notice_col_id">
  </p>
  <p>
    <label for="notice_search_id">Search ID</label>
    <input type="text" ng-model="notice.searchId" id="notice_search_id">
  </p>
  <input type="submit" value="Show">
</form>
{{ notice.details | json }}
