<header class="search_banner" role="banner">
  <div class="row">
    <div class="large-12 columns">
      <div class="small-logo">
        <a href="/">
          <h1 class="small-banner_title">Surgir - À propos</h1>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="large-11 columns basic-page">
    <p>Le Moteur de recherche universitaire Surgir (Système Universitaire de Recherche Grenoblois pour une Information Rapide) est un projet commun aux deux services interétablissements de coopération documentaire de Grenoble (SICD1 desservant l’université Joseph Fourier et Grenoble INP / SICD2 desservant les universités Stendhal et Pierre-Mendès-France).</p>
    
    <hr>
    
    <h4>Qu’est-ce que Surgir ?</h4>

    <p>Surgir permet d’interroger de manière simultanée une cinquantaine de ressources documentaires numériques à partir d’une seule interface :</p>

    <ul>
      <li>les catalogues des bibliothèques universitaires : Odyssée (SICD2) et Rugbis (SICD1)</li>
      <li>les bases de données (références bibliographiques, bases en texte intégral) auxquelles les bibliothèques sont abonnées</li>
      <li>de nombreuses ressources intéressantes gratuites d’Internet  (thèses en ligne, archives ouvertes, revues libres d’accès, …)</li>
    </ul>

    <p>Grâce à Surgir :</p>

    <ul>
      <li>une seule recherche permet d’interroger un grand nombre de sources simultanément</li>
      <li>les recherches sont plus complètes et plus riches</li>
      <li>les utilisateurs gagnent un temps précieux</li>
    </ul>

    <p>Liste des bases :</p>
    
    <ul>
      <li><a href="#/bases-surgir">interrogées via Surgir</a></li>
      <li><a href="#/bases-exclues">non interrogées</a></li>
    </ul>
    
    <hr>
    
    <h4>Le projet</h4>

    <h5>Historique</h5>

    <p>Depuis la fin des années 2000, les deux SICD de Grenoble travaillent à la mise en place d’un système de recherche unique pour les ressources numériques, afin de faciliter leur utilisation et d’encourager leur usage.</p>

    <p>Après des tests approfondis de plusieurs outils de recherche open source, elles ont choisi Libraryfind, développé initialement par l’Oregon State Library (US).</p>

    <h5>Les acteurs du projet</h5>

    <ul>
      <li>Au SICD1, essentiellement Marion Etasse, Laurent Perrillat, Romain Vanel</li>
      <li>Au SICD2, essentiellement Lucie Albaret, Alix Ligozat</li>
      <li>À la DSI UPMF, essentiellement Gaëlle Perrin, Stéphane Rongière</li>
      <li>Au SIMSU, essentiellement Jean-Michel Mermet</li>
      <li>La société AtoS, pour l'intégration du métamoteur LibraryFind</li>
      <li>La société Sogilis, pour le client web et mobile</li>
    </ul>

    <h5>Solution logicielle</h5>

    <ul>
      <li>LibraryFind : métamoteur opensource Ruby on Rails, développé par l’Oregon State Library (US)</li>
      <li>Moteur d’indexation : SolR (fondation Apache)</li>
      <li>Client : AngularJS</li>
    </ul>

    <h5>Hébergement</h5>
    
    <p>
      Serveurs localisés au SIMSU :
      <br>
      Domaine universitaire, 31, rue des mathématiques, 38041 Saint-Martin-d'Hères.
    </p>

    <h5>Contact</h5>

    <p><a href="mailto:surgir@grenet.fr">surgir@grenet.fr</a></p>

    <h5>Partenaires et financeurs</h5>
  
    <ul>
      <li>Région Rhône-Alpes</li>
      <li>Les universités de Grenoble</li>
    </ul>
  </div>
  <div class="large-1 columns"></div>
</div>
