<section class="home_intro">
<div class="large-10 large-centered columns">
  <div class="row">
    <div class="large-6 large-offset-1 columns">
      <h3>Qu'est-ce que Surgir ?</h3>
      <p>Surgir permet d’interroger de manière simultanée une cinquantaine de ressources 
      documentaires numériques à partir d’une interface :</p>
      <ul>
        <li>les catalogues des bibliothèques universitaires</li>
        <li>les bases de données</li>
        <li>de nombreuses ressources gratuites d’Internet</li>
      </ul>
    </div>
    <div class="large-4 columns">
      <h3>Notre actualité</h3>
    </div>
  </div>
</section>
