<header class="row home_banner" role="banner">
  <div class="small-12 large-6 large-offset-3 columns">
    <div class="big-logo">
      <h1 class="big-banner_title">Surgir</h1>
      <h2 class="big-banner_subtitle">Votre outil de découverte</h2>
    </div>
  </div>
</header>

<div class="row">
  <form ng-submit="goToSearch()">
    <div class="large-10 large-centered columns">
      <div class="row">
        <div class="small-10 large-10 columns">
          <input type="search" placeholder="Rechercher" ng-model="searchInput" autofocus>
        </div>
        <div class="large-2 columns button_wrapper hide-for-small">
          <button type="submit"><i class="icon-search"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>

<section class="home_intro hide-for-small">
<div class="row">
  <div class="large-10 large-centered columns">
    <div class="row">
      <div class="large-5 push-7 columns">
        <h3>Notre actualité</h3>
        <a class="twitter-timeline" height="200px" href="https://twitter.com/simondenier" data-widget-id="365495135158558720">Tweets by @simondenier</a>
      </div>
      <div class="large-7 pull-5 columns">
        <h3>Qu'est-ce que Surgir ?</h3>
        <p>Surgir permet d’interroger de manière simultanée une cinquantaine de ressources 
        documentaires numériques à partir d’une interface :</p>
        <ul>
          <li>les catalogues des bibliothèques universitaires</li>
          <li>les bases de données</li>
          <li>de nombreuses ressources gratuites d’Internet</li>
        </ul>
      </div>
    </div>
  </div>
</section>
