<header class="search_banner" role="banner">
  <div class="row">
    <div class="large-12 columns">
      <div class="small-logo">
        <a href="/">
          <h1 class="small-banner_title">Surgir - Crédits et mentions légales</h1>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="large-10 small-centered columns">
    <p>La responsabilité éditoriale du service Surgir ne concerne que les pages d’information sur le service. Les autres contenus (références, articles en texte intégral, images, vidéos, conférences, thèses...) sont sous la responsabilité éditoriale des éditeurs des sources interrogées.</p>

    <h4>Protection de la vie privée et des données à caractère personnel</h4>

    <p>Conformément à l'article 34 de la Loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Vous pouvez exercer ce droit d’accès en contactant surgir@grenet.fr ou le correspondant informatique et libertés, domaine universitaire 31, rue des mathématiques, 38041 Saint-Martin-d’Hères (<a href="mailto:cil@grenet.fr">cil@grenet.fr</a>).</p>

    <h4>Droit d’auteur et copyright</h4>

    <p>L'ensemble des contenus accessibles via cette interface de recherche est soumis aux conditions d’accès et de reproduction définies par les éditeurs de ces contenus.</p>

    <p>L’interface de recherche Surgir (logo, textes, chartes graphiques, images, etc.) constitue une œuvre protégée en France et à l'étranger par la licence open source CeCILL V2.</p>
  </div>
</div>
